useDynLib(Rsamtools, .registration=TRUE)

importClassesFrom(Biostrings, DNAStringSet, BStringSet, PhredQuality)

importFrom(IRanges, unlist)

importFrom(Biostrings, DNAStringSet, BStringSet, PhredQuality)

importFrom(BSgenome, strand)

importClassesFrom(IRanges, RangesList, RangedData, Sequence, Annotated)

exportPattern("^[^\\.]")

exportClasses(ScanBamParam, Cigar)

exportMethods(length, names, "[", "[[", show)
