useDynLib(Rsamtools, .registration=TRUE)

import(zlibbioc)

importFrom(bitops, bitAnd)

importFrom(utils, read.table)           # normalizePath --> base in R-2.13

importFrom(BiocGenerics, cbind, duplicated, eval, Filter, lapply, Map,
           order, paste, rbind, Reduce, rep.int, sapply, setdiff,
           tapply, union, unique)

import(IRanges)

importFrom(GenomicRanges, GRanges, GappedAlignments, Seqinfo, seqinfo, Union, 
           IntersectionNotEmpty, IntersectionStrict, findSpliceOverlaps)

importMethodsFrom(GenomicRanges, seqnames, strand, summarizeOverlaps,
                  findSpliceOverlaps)

importClassesFrom(GenomicRanges, GRanges, GappedAlignments, Seqinfo)

importClassesFrom(Biostrings, DNAStringSet, BStringSet, PhredQuality)

importClassesFrom(BiocGenerics, url, gzfile, unz, pipe)

importFrom(Biostrings, DNA_ALPHABET, readDNAStringSet,
           DNAStringSet, BStringSet, PhredQuality,
           getSeq, reverseComplement)

exportPattern("^[^\\.]")

export(path)

exportMethods(length, names, "[", "[[", show, getSeq, seqinfo,
              summarizeOverlaps, findSpliceOverlaps)

S3method(close, BamFile)
S3method(close, BcfFile)
S3method(close, FaFile)
S3method(close, TabixFile)
S3method(close, RsamtoolsFileList)

S3method(open, BamFile)
S3method(open, BcfFile)
S3method(open, FaFile)
S3method(open, TabixFile)
S3method(open, RsamtoolsFileList)
