useDynLib(Rsamtools, .registration=TRUE)

import(methods)
import(IRanges)

importFrom(GenomicRanges, seqnames, "seqnames<-", strand, validCigar, cigarToQWidth, cigarToWidth, cigarQNarrow, cigarNarrow, cigarToIRanges, cigarToIRangesListByAlignment, cigarToIRangesListByRName)
importClassesFrom(GenomicRanges, GRanges, GRangesList)

importFrom(utils, normalizePath, read.table)

importClassesFrom(Biostrings, file, connection, DNAStringSet, BStringSet, PhredQuality)
importFrom(Biostrings, DNA_ALPHABET, DNAStringSet, BStringSet, PhredQuality)


exportClasses(ScanBamParam, Cigar, BamViews)

exportPattern("^[^\\.]")

exportMethods(length, names, "[", "[[", show)
